:root {
  --main-font-family: American Typewriter, serif;
}

body,
html {
  background: #f2f2f2;
  font-family: var(--main-font-family);
  font-size: large;
}

body {
  margin: 0;
}

img.logo {
  height: 10rem;
}

.navbar-item img {
  max-height: 2.25rem !important;
}

.navbar-item h3 {
  margin-left: 1rem;
  font-weight: bold;
}
